body[b-t2fvazzw9a] {
}
.best__seller[b-t2fvazzw9a] {
    margin: 35px 0px;
    width: 100%;
    position: relative;
}

    .best__seller h2[b-t2fvazzw9a] {
        text-align: center;
        font-size: 1.8rem;
    }

.best__seller-sex[b-t2fvazzw9a] {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .best__seller-sex h2[b-t2fvazzw9a] {
        padding: 15px 15px;
    }

.best__seller-content[b-t2fvazzw9a] {
    display: flex;
    justify-content: center;
    width: 100%;
}

.best__seller-items[b-t2fvazzw9a] {
    min-height: 460px;
    width: 25%;
    margin: 0px 50px;
}

.best__seller-items-text[b-t2fvazzw9a] {
    width: 100%;
}

    .best__seller-items-text img[b-t2fvazzw9a] {
        width: 100%;
    }

.best__seller-button[b-t2fvazzw9a] {
    display: flex;
    justify-content: center;
}

    .best__seller-button button[b-t2fvazzw9a] {
        width: 140px;
        height: 50px;
        background-color: rgb(0, 0, 0);
        color: white;
        margin-top: 25px;
        transition: all .5s;
    }

        .best__seller-button button:hover[b-t2fvazzw9a] {
            background-color: rgba(0, 0, 0, 0);
            color: black;
            border: 1px solid black;
        }