@page "/"

<div class="best__seller">
        <h2>Sản phẩm bán chạy</h2>
        <div class="best__seller-content">
            <div class="best__seller-items best__seller-items-1">
                <div class="best__seller-items-text">
                <img src="anhsp/1.png" alt=""/>
                <p>Hạt điều tươi</p>
                <p>Fresh</p>
                <p>$8.99</p>
                </div>
            </div>
            <div class="best__seller-items best__seller-items-2">
                <div class="best__seller-items-text">
                    <img src="anhsp/2.png" alt=""/>
                    <p>Hạt điều rang muối</p>
                    <p>Salt</p>
                    <p>$7.99</p>
                </div>
            </div>
            <div class="best__seller-items best__seller-items-3">
                <div class="best__seller-items-text">
                    <img src="anhsp/3.png" alt=""/>
                    <p>Hạt điều mật ong</p>
                    <p>Bee</p>
                    <p>$9.99</p>
                </div>
            </div>
        </div>
        <div class="best__seller-button">
            <a href="dathang">
            <button>Mua ngay</button>
            </a>
        </div>
    </div>